@using GDSHelpers
@using Microsoft.AspNetCore.Http
@model GDSHelpers.Models.FormSchema.PageVM
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = "_Layout";
}

<gds-row>

    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">

        <partial name="_SummaryErrors" for="@Model" />

        <form asp-action="Index" asp-controller="Form" method="post">

            @Html.HiddenFor(m => m.PageId)
            @Html.AntiForgeryToken()

            @*Currently disabled, pending additional development:*@
            @*@if (ViewBag.HidePageCounter == false)
            {
                <span class="govuk-caption-l">Question @ViewBag.Position of @ViewBag.PageCount</span>
            }*@


            @if (!string.IsNullOrEmpty(Model.PageName))
            {
                <gds-heading heading-type="H1" text="@Model.PageName"></gds-heading>
            }

            @Html.RenderPreAmble(Model)

            @if (Model.Questions != null)
            {
                var gdsVersion = Configuration.GetValue<double>("GdsHelpers:GdsToolkitVersion");

                foreach (var question in Model.Questions)
                {
                    @Html.GdsQuestion(question, gdsVersion)
                }
            }

            @Html.RenderPostAmble(Model)


            @if (Model.Buttons != null)
            {
                foreach (var button in Model.Buttons)
                {
                    @Html.GdsButton(button.ButtonType, button.ButtonText)
                }
            }

        </form>

    </gds-column>
    @if (Model.ShowRelatedContent)
    {
        <gds-column tablet-size="OneThird">

            <aside class="app-related-items" role="complementary">

                <h2 class="govuk-heading-m">Related content</h2>

                <gds-paragraph>
                    <gds-link class="govuk-link app-related-items-font-resize" link-id="related-content" link-text="How we handle information and privacy" href="@Url.Action("Index", "HowWeUseYourInformation")" target="_blank" add-hidden-text="true"></gds-link>
                </gds-paragraph>

            </aside>

        </gds-column>
    }

</gds-row>

<partial name="_Monitor" />
<script>
    $(document).ready(function () {
        checkForJs();
    });
</script>
